doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Estilos en los Atributos
	body
		h1 Estilos en los Atributos
		hr
		section(style="border: 1px solid silver; height: 200px; width: 400px; margin: 20px auto")
			div(style="background-color:red; border-radius:70px; height: 140px; width: 140px; margin: 30px auto;")