doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Comentarios
	body
		h1 Comentarios
		hr
		// Comentario Linea (Se ve en el marcado)
		br
		//- Comentario Linea PUG (No se ve en el marcado)
		//
			 Comentario de Bloque se ve en el marcado
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aspernatur hic molestias fuga dolore facere fugiat omnis, libero ea, rem neque perspiciatis a asperiores nesciunt vel, amet commodi tempora expedita.
		br
		//-  
			 Comentario de Bloque se ve en el marcado
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam harum, perferendis rerum optio voluptate suscipit laboriosam voluptatem consequatur inventore quam assumenda explicabo soluta est similique adipisci, consectetur eum hic! Repellendus.