doctype
html(lang="es")
	include includes/header.pug
	body 
		h1 Insertar Código PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ea nulla repellendus repudiandae ipsum aut modi consequuntur consequatur, ut, fugiat minima reprehenderit quos aliquam dicta facilis doloribus tempora autem molestias.
		include includes/footer.pug