doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Formulario (PUG - BOOTSTRAP)
		link(href='css/bootstrap.css' rel="stylesheet")
	body
		main.container
			section.row
				div.col-md-4.col-md-offset-4
					fieldset
						legend
							h3.text-muted.text-center Formulario de Login
						form(method="post")
							div.form-group
								input.form-control(name="email" type="email" placeholder="Correo Electronico" required=true)
							div.form-group
								input.form-control(name="password" type="password" placeholder="Contraseña" required=true)
							div.form-group
								input.form-control.btn.btn-info(type="submit" value="Iniciar Sesión")
